/* Add CSS here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar div:first-child {
  background-color: #ccc;
  width: 95px;
  height: 30px;
  margin: 10px 15px 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 90px;
}
