*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b39be;
  background: linear-gradient(45deg, #1b39be, #64d6bc);
}

.header {
  width: 25rem;
  background-image: url('https: //images.unsplash.com/photo-1623501942254-5b629c686045?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  position: relative;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 25rem;
  height: 10rem;
  background-image: url('https://images.unsplash.com/photo-1623501942254-5b629c686045?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(0.5);
  border-top: 6px solid white;
}
.header-info h1 {
  color: white;
}

.header-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons i {
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.img-profile {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 6rem;
  right: 12.5rem;
}

.img-profile img {
  width: 8rem;
  height: 8rem;
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
  border: 8px solid rgba(0, 174, 255, 0.726);
}

.main {
  background: #fff;
  width: 25rem;
  /* padding: 2rem 2rem; */
}

.main p {
  color: rgb(14, 14, 100);
  font-weight: 600;
  padding: 3.5rem;
  margin-top: 2rem;
}

.skills {
  padding: 1rem;
  border-top: 10px double rgb(211, 200, 200);
}

.skills ul {
  display: flex;
  justify-content: space-between;
}

.skills ul li {
  list-style: none;
}
.skills ul li a {
  text-decoration: none;
  color: rgb(165, 146, 146);
  font-weight: bold;
}
.skills ul li a:hover {
  background: rgba(10, 111, 226, 0.884);
  color: white;
  padding-top: 14px;
}
.skills-details {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin: 8px auto;
  padding-bottom: 3rem;
}
.about-me--details {
  background-color: #ddcfcf;
}
.about-me--details p {
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 1rem;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 2rem;
  max-height: 15rem;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer button {
  background: #2bdb6f;
  width: 25rem;
  font-size: 1.2rem;
  color: white;
  height: 4rem;
  padding: 15px 35px;
  cursor: pointer;
  border: 0;
}

.active {
  padding-top: 0.9rem;
}
.hidden {
  display: none;
}
