*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  font-family: 'Almarai', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    125deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 164, 88, 0.28899082568807344) 40%,
    rgba(17, 201, 220, 1) 44%,
    rgba(0, 212, 255, 1) 52%
  );
}
.post__card {
  max-width: 1200px;
  max-height: 600px;
  background: #fff;
  border-radius: 12px;
  position: relative;
}
h1 {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}
textarea {
  resize: none;
  padding: 1rem 6rem;
  border: none;
  width: 90%;
  margin: 1rem;
}
.post__icons {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.icon label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
  cursor: pointer;
  max-width: 200px;
  max-height: 150px;
  transition: all 0.5s ease-in 0.3s;
  text-align: center;
}
.icon label:hover {
  background-color: #ccc;
  color: white;
  border-radius: 50%;
}

.post__send {
  position: absolute;
  top: 5px;
  right: 15px;
}
input[type='file'] {
  display: none;
}
.post__send {
  cursor: pointer;
}

@media (max-width: 760px) {
  h1{
    font-size: 2rem;
  }
 textarea{
  padding: 2rem 1rem;
  font-size: 1.5rem;
 }
  .post__icons {
    flex-direction: column;
  }
  .post__card{
    max-height: 1200px;
    max-width: 280px;
  }
  .icon label{
    font-size: 1.5rem;
  }

}
