*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #191919;
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}
.gallery {
  display: flex;
  overflow-x: scroll;
  width: 900px;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery div {
  display: grid;
  flex: none;
  gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100%;
}
.gallery div img {
  filter: grayscale(100%);
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  width: 100%;
}
.gallery div img:hover {
  cursor: pointer;
  filter: grayscale(0);
  transform: scale(1.1);
}
.gallery-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50vh auto;
}
:is(.backBtn, .nextBtn) {
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 40px;
  padding: 10px 25px;
  transition: all 0.6s ease-out;
  width: 50px;
}
:is(.backBtn, .nextBtn):hover {
  background: #253f87;
  color: #ec53ec;
  transform: scale(1.2);
}
i {
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .gallery div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
  }
  .gallery-wrap {
    margin: 10rem auto;
    height: 100%;
  }
  .gallery {
    max-width: 80vw;
  }
  button {
    display: none;
  }
}
