*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.container {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin: 2rem auto;
  height: 100vh;
  border: 1px solid red;

}

.slider {
  border: 10px solid rgb(50, 204, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  position: relative;
}
.slider__gallery {
  display: flex;
flex-wrap:nowrap;
  overflow-x: scroll;
  scroll-behavior: auto;



}
.image {
  width: 150px;
  height: 150px;
  margin: 2rem;
  flex-shrink: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

}
:is(.arrow__left, .arrow__right) {
  font-size: 2.5rem;
  position: absolute;
  background: #000;
  color: white;
  transform: translateY(-50%);
  cursor: pointer;
  display: inline-block;
}
.arrow__left {
  left: 0;
}
.arrow__right {
  right: 0;
}
.active{
    filter: contrast(150%);
    transform: scale(1.2);
    box-shadow: 3px 5px 16px rgba(0,0,0,0.7);
    border-radius: 50%;
    border: 4px double #ffF567;
}
