/* Add CSS here */
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsla(235, 100%, 20%, 1);
  color: aliceblue;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 60vw;
  min-height: 100vh;
  margin: 80px auto 0;
}

header {
  width: 100%;
  height: 15rem;
  margin: 0 auto;
  background-color: #06092ea2;
}

header h1 {
  color: hsl(212, 80%, 48%);
  text-align: center;
  padding-top: 36px;
  width: 100%;
  font-size: 2rem;
  word-spacing: 15px;
  letter-spacing: 4px;
}

header p {
  color: hsl(220, 2%, 28%);
  font-weight: bold;
  text-align: center;
  width: 100%;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.exercices-list {
  background-color: hsl(212, 96%, 26%);
}

.exercices-list h2 {
  margin: 0 20px;
  padding: 10px;
  letter-spacing: 5px;
  font-size: 0.9rem;
  color: hsl(0, 9%, 75%);
}

.exercices-list div:first-of-type,
.exercices-list div:nth-of-type(2),
.exercices-list div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  word-spacing: 5px;
  color: hsl(0, 3%, 77%);
  letter-spacing: 2px;
}

.exercices-list div:first-of-type h3,
.exercices-list div:nth-of-type(2) h3,
.exercices-list div:nth-of-type(3) h3 {
  margin: 0 15px;
}

.exercices-list div:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
  background-color: hsl(212, 80%, 48%);
  margin: 0 15px;
}

.exercices-list div:nth-of-type(5),
.exercices-list div:nth-of-type(6),
.exercices-list div:nth-of-type(7),
.exercices-list div:nth-of-type(8) {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  letter-spacing: 2px;
}

.nesting-paragraph {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}
