/*Add CSS here*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(
    to top left,
    hsl(225, 88%, 38%),
    hsl(216, 100%, 73%)
  );
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
}
.icon-close {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}
.icon-close i {
  font-size: 1.8rem;
  color: #d1c9c9;
}
.img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.img img:hover {
  background: #38383db6;
  padding: 1rem;
  transform: scale(1.2);
  border-radius: 50%;
}

.img img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.img p {
  margin-top: 0.5rem;
}

.header h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.header p {
  font-size: 0.8rem;
  color: #d1c9c9d7;
  text-align: center;
  padding: 1rem 2rem;
}
.card-1 {
  background: #1f2fc4;
  margin-left: 2rem;
  border-radius: 6px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: 2fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem 3rem;
}
.icons p {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
}

.button {
  padding: 2rem;
}
.button button {
  padding: 1rem 3.5rem;
  display: block;
  margin: 1rem auto;
  border-radius: 24px;
  border: none;
  background: #f3156a46;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background 0.5s ease;
}
.button button:hover {
  background: #3b3939;
}

.hide {
  display: none;
}
