/*
colors
CFE8EF
C6DBF0
AED1E6
A0C4E2
85C7DE
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cfe8ef;
  margin: 5rem auto;
  border: 5px double #85c7de;
  border-radius: 95% 95% 0 0/100% 100% 0 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.btn {
  background: #33668f;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  border: none;
  margin: 2rem 0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transform: all 0.8s ease;
}
.btn:hover {
  background: #aed1e6;
  transform: skew(5deg) scale(1.1);
  color: #222e33;
  font-weight: 700;
}

.card__image {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card__square {
  grid-column: 1/3;
  grid-row: 1/3;
  margin-top: 2rem;
  padding: 4rem 0;
}
.card__info {
  width: 70%;
}

.card__info--rectangle {
  width: 100%;
}
.card__rectangle {
  grid-column: 2/5;
  grid-row: 4/5;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-self: start;
  padding: 3.5rem 2rem;
}

.btn--rectangle {
  margin: 0;
}
.card__rectangle--wider {
  grid-column: 3/5;
  grid-row: 2/4;
  flex-direction: row;
  padding: 3.5rem 3rem;
  margin-bottom: 3rem;
}
.card__info--wider {
  display: flex;
  flex-direction: column;
}
.translateY {
  transform: translateY(-100%) skewY(25deg) rotateZ(360deg);
}
.transition {
  transition: all 1.5s ease-out;
}
@media (max-width: 768px) {
  .card__square {
    grid-column: 1/5;
    grid-row: 1/3;
  }

  .card__rectangle--wider {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  .card__rectangle {
    grid-column: 1/5;
    align-self: center;
  }
}
@media (max-width: 480px) {
  .card__image {
    width: 50px;
    height: 50px;
  }
  .card {
    width: 90%;
  }
  .card__square {
    padding: 2rem 0;
  }

  .card__rectangle--wider {
    padding: 2rem 0;
    flex-direction: column;
  }

  .card__rectangle {
    padding: 2rem 0;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
  }
}
